div nav {
	display: flex;
	align-items: center;
	color: white;
	justify-content: space-between;
	padding: 10px 80px;
	position: fixed;
	width: 100vw;
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	z-index: 999;
}

div h1 {
	font-size: 40px;
}
